@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1500px) {
  body {
    display: flex;
    flex-direction: column;
    background: #f0ebeb;
    font-family: Times New Roman;
    margin: 5px;
    display: none;
  }
  a {
    text-decoration: none;
    color: black;
    display: block;
  }
  header {
    flex: 0;
  }
  header .menu_wrapper .top-wrapper .h-icon {
    text-align: center;
  }
  header .menu_wrapper .top-wrapper .h-icon img {
    width: auto;
    height: 500px;
  }
  header .menu_wrapper .menu {
    display: none;
  }
  header .menu_wrapper .menu nav {
    margin-bottom: 3em;
    width: 100%;
    background-color: #444;
    border-radius: 1.5em;
  }
  header .menu_wrapper .menu nav .menu_list {
    display: flex;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item:hover .sub-menu {
    display: block;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item {
    list-style: none;
    display: inline-block;
    width: calc(100% / 4);
    text-align: center;
    position: relative;
    /* サブメニュー */
    /* ここまで */
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item a {
    display: block;
    width: 100%;
    /* font-size: 15px; */
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    /* padding: 10px 0; */
    padding: 15px 30px;
    color: #fff;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item a span {
    margin-left: 1.2em;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item a:hover {
    background-color: #efefef;
    color: #444;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item .sub-menu {
    position: absolute;
    /* top: 55px;
              left: 0; */
    display: none;
    /* padding: 0 30px; */
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item .sub-menu li {
    display: block;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item .sub-menu li a {
    background-color: #efefef;
    color: #444;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item .sub-menu li a .new {
    width: 10%;
    height: 10%;
  }
  header .menu_wrapper .menu nav .menu_list .menu_list_item .sub-menu li a:hover {
    background-color: #f30d2c;
  }
  header .menu_wrapper .menu .menu-line .header-logo-menu #nav-drawer {
    display: none;
  }
  header .menu_wrapper .menu .menu-line .title-text {
    display: none;
  }
  header .menu_wrapper .menu .menu-line .title-text a {
    display: none;
  }
  header h1 {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 2em;
    font-family: Quicksand, sans-serif;
    margin: 10px 0;
    text-align: center;
  }
  main {
    display: flex;
    flex: 1;
  }
  main #posts-wrap {
    width: auto;
  }
  main #posts-wrap #posts .sub-title h2 {
    display: flex;
    align-items: center;
  }
  main #posts-wrap #posts .sub-title h2 .imp {
    width: 6.5%;
    height: auto;
  }
  main #posts-wrap #posts .sub-title h2:before,
  main #posts-wrap #posts .sub-title h2:after {
    content: "";
    height: 2px;
    background: #000;
    flex-grow: 1;
  }
  main #posts-wrap #posts .sub-title h2:before {
    margin: 0 20px 0 0;
  }
  main #posts-wrap #posts .sub-title h2:after {
    margin: 0 0 0 20px;
  }
  main #posts-wrap #posts #post-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
  }
  main #posts-wrap #posts #post-wrap #post {
    margin: 5px 0 5px 0;
    width: 30%;
  }
  main #posts-wrap #posts #post-wrap #post .post-header {
    margin-bottom: 15px;
  }
  main #posts-wrap #posts #post-wrap #post .post-header h2 {
    font-size: 16px;
    font-weight: bold;
  }
  main #posts-wrap #posts #post-wrap #post .post-header h2 .p_img {
    width: 5%;
    height: auto;
  }
  main #posts-wrap #posts #post-wrap #post .post-header .post-meta {
    font-size: 12px;
    padding: 7px 0;
    color: #555;
  }
  main #posts-wrap #posts #post-wrap #post .post-content {
    overflow: hidden;
  }
  main #posts-wrap #posts #post-wrap #post .post-content .post-image {
    float: left;
    width: 115px;
  }
  #sidebar {
    width: 10%;
    flex: 1;
    display: none;
  }
  #sidebar .widget {
    margin-bottom: 25px;
    margin-top: 10px;
  }
  #sidebar .widget .w-title h3 {
    color: mediumblue;
    font-weight: bold;
    padding-bottom: 7px;
    text-align: center;
  }
  #sidebar .widget .items {
    background-color: hotpink;
  }
  #sidebar .widget .items ul {
    list-style-type: none;
    display: list-item;
  }
  #sidebar .widget .items ul li {
    margin: 10px;
    display: block;
    line-height: 1.8;
  }
  #sidebar .widget .items ul li a {
    text-decoration: none;
    color: white;
  }
  .p-wrapper {
    order: -1;
    width: 20%;
    margin: 20px;
    padding: 0 10px;
  }
  .p-wrapper #profile {
    /*枠デザイン*/
    margin-bottom: 5px;
    /*内容*/
    /*プロフィール画像*/
    /*名前*/
    /*自己紹介文*/
    /*リスト*/
  }
  .p-wrapper #profile .profile_box {
    margin: 0;
    border-left: solid 2px #ff7d6e;
    border-right: solid 2px #ff7d6e;
    border-bottom: solid 10px #ff7d6e;
    border-radius: 10px;
  }
  .p-wrapper #profile .profile_box .box-title {
    font-size: 10px;
    line-height: 1.8;
    background: #bf4b3d;
    /*タイトルの背景色*/
    padding: 4px;
    text-align: center;
    color: #FFF;
    /*文字色*/
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px 10px 0 0;
  }
  .p-wrapper #profile .profile_center {
    text-align: center;
  }
  .p-wrapper #profile .profile_figure {
    width: auto;
    height: 100px;
    border-radius: 40%;
    /*丸くする*/
    border: solid 3px #f2d0cb;
    /*枠線*/
  }
  .p-wrapper #profile .profile_figure2 {
    width: auto;
    height: 100px;
    border-radius: 40%;
    /*丸くする*/
    border: solid 3px #f2d0cb;
    /*枠線*/
  }
  .p-wrapper #profile .twitter a {
    text-decoration: none;
    color: #0077ff;
  }
  .p-wrapper #profile .profile_name {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
  }
  .p-wrapper #profile .profile_box p {
    padding: 15px 20px;
    margin: 0;
  }
  .p-wrapper #profile .profile_box ul {
    padding: 0.5em 1em 0.5em 0.3em;
    position: relative;
  }
  .p-wrapper #profile .profile_box ul li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none !important;
  }
  .p-wrapper #profile .profile_box ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "";
    /*アイコンの種類*/
    font-weight: 900;
    position: absolute;
    color: #ff7d6e;
    /*アイコン色*/
  }
  .p-wrapper #profile-2 {
    /*枠デザイン*/
    margin-bottom: 5px;
    /*内容*/
    /*プロフィール画像*/
    /*名前*/
    /*自己紹介文*/
    /*リスト*/
  }
  .p-wrapper #profile-2 .profile_box {
    margin: 0;
    border-left: solid 2px #ff7d6e;
    border-right: solid 2px #ff7d6e;
    border-bottom: solid 10px #ff7d6e;
    border-radius: 10px;
  }
  .p-wrapper #profile-2 .profile_box .box-title {
    font-size: 10px;
    line-height: 1.8;
    background: #bf4b3d;
    /*タイトルの背景色*/
    padding: 4px;
    text-align: center;
    color: #FFF;
    /*文字色*/
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px 10px 0 0;
  }
  .p-wrapper #profile-2 .profile_center {
    text-align: center;
  }
  .p-wrapper #profile-2 .profile_figure {
    width: auto;
    height: 100px;
    border-radius: 40%;
    /*丸くする*/
    border: solid 3px #f2d0cb;
    /*枠線*/
  }
  .p-wrapper #profile-2 .profile_figure2 {
    width: auto;
    height: 100px;
    border-radius: 40%;
    /*丸くする*/
    border: solid 3px #f2d0cb;
    /*枠線*/
  }
  .p-wrapper #profile-2 .twitter a {
    text-decoration: none;
    color: #0077ff;
  }
  .p-wrapper #profile-2 .profile_name {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
  }
  .p-wrapper #profile-2 .profile_box p {
    padding: 15px 20px;
    margin: 0;
  }
  .p-wrapper #profile-2 .profile_box ul {
    padding: 0.5em 1em 0.5em 0.3em;
    position: relative;
  }
  .p-wrapper #profile-2 .profile_box ul li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none !important;
  }
  .p-wrapper #profile-2 .profile_box ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "";
    /*アイコンの種類*/
    font-weight: 900;
    position: absolute;
    color: #ff7d6e;
    /*アイコン色*/
  }
  footer {
    flex: 0;
    padding: 15px 0;
    font-size: 12px;
    color: #aaa;
    border-top: 1px solid #ccc;
  }
  footer .c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 599px) {
  body {
    margin: 0;
  }
  body .wf-nicomoji {
    font-family: "Nico Moji";
  }
  body header .menu_wrapper {
    flex-direction: column-reverse;
    display: flex;
    position: relative;
  }
  body header .menu_wrapper .top-wrapper .h-icon img {
    width: 90%;
    height: auto;
  }
  body header .menu_wrapper .menu {
    display: none;
  }
  body header .menu_wrapper .menu nav {
    display: none;
  }
  body header .menu_wrapper .menu .menu-line {
    width: 100%;
    height: 50px;
    background-color: bisque;
  }
  body header .menu_wrapper .menu .menu-line .title-text {
    position: relative;
  }
  body header .menu_wrapper .menu .menu-line .title-text a {
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu {
    display: flex;
    flex-direction: row;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-drawer {
    position: relative;
    display: block;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu .nav-shown {
    display: none;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-open span, body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-open span::before, body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-open span::after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-open span:before {
    bottom: -8px;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-open span:after {
    bottom: -16px;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #8ba5d2;
    transition: .3s ease-in-out;
    transform: translateX(-105%);
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-content ul {
    display: block;
    padding: 10px;
    margin: 0;
    list-style: none;
    letter-spacing: -1em;
    justify-content: space-around;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-content .nav_item {
    letter-spacing: 0em;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-content .nav_item a {
    text-decoration: none;
    color: white;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  body header .menu_wrapper .menu .menu-line .header-logo-menu #nav-input:checked ~ #nav-content {
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  body main {
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
  }
  body main #posts-wrap {
    width: 100%;
  }
  body main #posts-wrap #posts {
    width: 100%;
  }
  body main #posts-wrap #posts #post-wrap #post {
    margin-bottom: 30px;
    width: 50%;
  }
  body main #posts-wrap #posts #post-wrap #post .post-header {
    margin-bottom: 15px;
  }
  body main #posts-wrap #posts #post-wrap #post .post-header h2 {
    font-size: 16px;
    font-weight: bold;
  }
  body main #posts-wrap #posts #post-wrap #post .post-header .post-meta {
    font-size: 12px;
    padding: 7px 0;
    color: #555;
  }
  body main #posts-wrap #posts #post-wrap #post .post-content {
    overflow: hidden;
  }
  body main #posts-wrap #posts #post-wrap #post .post-content .post-image {
    float: left;
    width: 115px;
  }
  body main #posts-wrap #posts #post-wrap #post .post-content .post-body {
    margin-left: 115px;
  }
  body main #sidebar {
    width: 100%;
  }
  body main #sidebar .widget {
    margin-bottom: 25px;
  }
  body main #sidebar .widget .w-title h3 {
    font-weight: bold;
    padding-bottom: 7px;
  }
  body main #sidebar .widget .items ul {
    list-style-type: none;
    display: list-item;
  }
  body main #sidebar .widget .items ul li {
    display: block;
    line-height: 1.8;
  }
  body main .p-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
  }
  body main .p-wrapper #profile {
    order: 0;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0;
  }
  body main .p-wrapper #profile .profile_box .profile_center {
    display: flex;
    justify-content: space-around;
  }
  body main .p-wrapper #profile .profile_box .profile_center ul {
    padding: 0.5em 0.1em 0.5em 0.3em !important;
  }
  body main .p-wrapper #profile .profile_box .profile_center .profile_figure {
    transform: translate(0, 12%);
  }
  body main .p-wrapper #profile .profile_box .profile_center .profile_name a {
    transform: translate(0, 20px);
    display: block;
    font-size: 20px;
  }
  body main .p-wrapper #profile .profile_box .profile_center .profile_name .twitter {
    transform: translate(0, 20px);
  }
  body main .p-wrapper #profile-2 {
    order: 0;
    width: 50%;
    margin: 0 0 5px 0;
    padding: 0;
  }
  body main .p-wrapper #profile-2 .profile_box .profile_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body main .p-wrapper #profile-2 .profile_box .profile_center .profile_figure2 {
    border-radius: 40%;
    border: solid 3px #f2d0cb;
    width: auto;
    height: 100px;
  }
  body main .p-wrapper #profile-2 .profile_box .profile_center .profile_name a {
    display: block;
    font-size: 20px;
  }
  body main .p-wrapper #profile-2 .profile_box .profile_center .profile_name .twitter {
    transform: translate(0, 20px);
  }
  body footer {
    padding: 15px 0;
    font-size: 12px;
    color: #aaa;
    border-top: 1px solid #ccc;
  }
  body footer .c-wrapper {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */