* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1500px) {

  body {
    background: #f0ebeb;
    font-family: Times New Roman;
    display: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .wf-nicomoji { font-family: "Nico Moji"; }

    
  header {
    // width: 100%;
    // height: 50px;
    // background-color: white;
  .menu_wrapper{
    // height: 100%;
    .top-wrapper {
      // height: 100%;
      // position: relative;
        .h-icon {
          text-align: center;
          img {
            width: auto;
            height: 500px;
          }
        }
      a {
        font-size: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
  }
}
    main {
      .wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
          .breadcrumb *, .breadcrumb *:after, .breadcrumb *:before {
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
          }
          .breadcrumb {
            margin: 1em auto;
            padding: 1em 2em;
            // background-color: #3949AB;
            color: #fff;
            border-radius: 0.5em;
          }
          .breadcrumb a {
            text-decoration: none;
            color: #7986CB;
          }
          .breadcrumb ul {
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
          }
          .breadcrumb li {
            display: inline-block;
            position: relative;
            padding-right: calc(16px + 8px);
            margin-right: 8px;
            color: #7986CB;
          }
          .breadcrumb li::before {
            content: '›';
            width: 1em;
            height: 1em;
            line-height: 1;
            text-align: center;
            font-size: 1em;
            color: inherit;
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
          }
          .breadcrumb li:last-child {
            margin-right: 0;
            padding-right: 0;
            color: #ffffff;
          }
          .breadcrumb li:last-child::before {
            content: normal;
          }
        }
        .section {
          display: flex;
          .text_wrapper {
            width: 100%;
            height: 500px;
            background-color: white;
            margin: 30px 10px;
            border-radius: 10%;
            padding: 10px;
            h1 {
              text-align: center;
              font-size: 150%;
            }
            h2 {
              font-size: 125%;
            }
          }
          #sidebar {
            display: none;
            width: 25%;
            flex: 1;
            .widget {
              margin-bottom: 25px;
              margin: 10px;
              .w-title {
                // background-color: mistyrose;
                h3 {
                  color: mediumblue;
                  font-weight: bold;
                  padding-bottom: 7px;
                  text-align: center;
                }
              }
              .items {
                background-color: hotpink;
                border-radius: .3em;
                ul {
                  list-style-type:none;
                  display: list-item;
                  li {
                    margin: 10px;
                    display: block;
                    line-height: 1.8;
                    a {
                      text-decoration: none;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }
        footer {
        flex: 0;
        padding: 15px 0;
        font-size: 12px;
        // color: #aaa;
        border-top: 1px solid #ccc;
        .c-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    
    
    // スマホ画面
    @media screen and (max-width:599px) {
      body {
        header {
          .menu_wrapper {
            .top-wrapper {
              a {
                white-space: nowrap;
              }
            }
          }
        }
        main {
          .wrapper {
            .section {
              display: block;
              .text_wrapper {
                width: 100%;
                margin: 30px 5px;
                padding: 0;
              }
              #sidebar {
                display: none;
                width: 100%;
              }
            }
          }
        }
        footer {
          padding: 15px 0;
          font-size: 12px;
          color: #aaa;
          border-top: 1px solid #ccc;
        }
      }
    }
  }